<!doctype html>
<html ng-app="faccApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="facc.js"></script>
    <script src="faccServices.js"></script>
    <link rel="stylesheet" href="facc.css">
    <title>FNCAA Admin</title>
  </head>
  <body>
    <h2>FNCAA Admin</h2>
    <div ng-controller="FaccController">
    <a href="" ng-click="ncaaStats(this)">Stats</a>    
      <table class="sorting-table">
      <thead class="header">      
      <th><a href="" ng-click="predicate = 'region'; reverse=true">Region</a></th>
      <th><a href="" ng-click="predicate = 'seed'; reverse=true">Seed</a></th>
      <th><a href="" ng-click="predicate = 'team'; reverse=false">Team</a></th>
      <th><a href="" ng-click="predicate = 'team'; reverse=false">Id</a></th>
      <th><a href="" ng-click="predicate = 'name'; reverse=false">Name</a></th>   
      <th><a href="" ng-click="predicate = 'minutes'; reverse=true">Minutes</a></th>
      <th><a href="" ng-click="predicate = 'points'; reverse=true">Points</a></th>
      <th><a href="" ng-click="predicate = 'rebounds'; reverse=true">Rebounds</a></th>
         <th><a href="" ng-click="predicate = 'assists'; reverse=true">Assists</a></th>
         <th><a href="" ng-click="predicate = 'ncaatotal'; reverse=true">Total</a></th>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy:predicate:reverse" class="row">
         <td>{{player.region}}</td>
          <td>{{player.seed}}</td>
         <td>{{player.team}}</td>
         <td>{{player.id}}</td>         
        <td><a href="http://espn.go.com/ncb/player/profile?playerId={{player.id}}" target="_blank">{{player.name}}</a></td>
        <td>{{player.minutes| number:1}}</td>
        <td>{{player.points| number:1}}</td>
        <td>{{player.rebounds| number:1}}</td>
        <td>{{player.assists| number:1}}</td>
        <td>{{player.ncaatotal| number:1}}</td>
        </tr>  
        </tbody>        
      </table>
    </div>
  </body>
</html>